Repository mariogl/documents: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,md}": "prettier --write",
  "**/*.{ts,tsx}": "eslint --max-warnings=0"
}

test(documents): test error message when fetching fails
  src/documents/client/FetchDocumentsClient.test.ts
  src/documents/handlers/documentsHandlers.ts
  src/documents/services/DocumentsService.ts
  src/shared/components/App/App.test.ts
Due: prettier --write, eslint --max-warnings=0

chore: add tests to pre-commit hook
  .husky/pre-commit
Due: none

test(e2e): test document creation
  .github/workflows/playwright.yml
  .gitignore
  e2e/documents.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/documents/components/NewDocumentForm/NewDocumentForm.test.ts
  vitest.config.ts
Due: prettier --write, eslint --max-warnings=0

refactor: reorganize notifications folders in a cleaner architecture
  src/main.ts
  src/notifications/application/context/notificationsServiceContext.ts
  src/notifications/application/services/NotificationsService.ts
  src/notifications/application/store/NotificationsStore.ts
  src/notifications/domain/types.ts
  src/notifications/infrastructure/client/WebSocketNotificationsClient.ts
  src/notifications/infrastructure/client/types.ts
  src/notifications/infrastructure/dto/types.ts
  src/notifications/presentation/components/Notifications/Notifications.module.css
  src/notifications/presentation/components/Notifications/Notifications.ts
  src/shared/components/App/App.test.ts
  src/shared/components/App/App.ts
Due: prettier --write, eslint --max-warnings=0

ci: add audit and testing workflows
  .github/workflows/audit.yml
  .github/workflows/playwright.yml
  .github/workflows/testing.yml
Due: none

ci: add pre-push hook
  .husky/pre-commit
  .husky/pre-push
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings=0

ci: add workflow for E2E tests
  .github/workflows/e2e.yml
Due: none

feat(notifications): add role to notification box
  src/documents/presentation/components/DocumentsSorting/DocumentsSorting.ts
  src/notifications/presentation/components/Notifications/Notifications.ts
  src/shared/presentation/components/Icon/Icon.ts
  src/shared/presentation/components/Textbox/Textbox.module.css
Due: prettier --write, eslint --max-warnings=0

refactor: extract URL paths to config constant
  .env.example
  src/documents/infrastructure/client/FetchDocumentsClient.ts
  src/documents/infrastructure/handlers/documentsHandlers.ts
  src/documents/presentation/components/NewDocumentForm/NewDocumentForm.ts
  src/env.d.ts
  src/main.ts
  src/notifications/infrastructure/client/WebSocketNotificationsClient.ts
  src/shared/config/config.ts
Due: prettier --write, eslint --max-warnings=0

refactor: relocate UiStore into presentation folder
  src/documents/application/services/DocumentsService.ts
  src/documents/presentation/components/DocumentsSorting/DocumentsSorting.ts
  src/shared/presentation/components/Loading/Loading.ts
  src/shared/presentation/store/UiStore.ts
Due: prettier --write, eslint --max-warnings=0

fix(components): avoid prop mutation in Dropdown
  src/shared/presentation/components/Dropdown/Dropdown.ts
Due: prettier --write, eslint --max-warnings=0

fix(documents): delete unnecesary temporal variable
  src/documents/presentation/components/Documents/Documents.ts
Due: prettier --write, eslint --max-warnings=0

feat(documents): handle error on creating document
  src/documents/presentation/components/NewDocumentFormModal/NewDocumentFormModal.ts
  src/shared/presentation/components/Icon/Icon.ts
Due: prettier --write, eslint --max-warnings=0

test(documents): test validation error messages in form
  src/documents/presentation/components/NewDocumentForm/NewDocumentForm.test.ts
Due: prettier --write, eslint --max-warnings=0

feat(notifications): limit connection retry to 5 times
  src/notifications/infrastructure/client/WebSocketNotificationsClient.ts
Due: prettier --write, eslint --max-warnings=0

test(documents): test documents sorting
  src/documents/presentation/components/DocumentsList/DocumentsList.test.ts
Due: prettier --write, eslint --max-warnings=0

docs: add README.md
  README.md
Due: prettier --write

fix(components): improve a11y roles and attrs for Loading and NewDocumentForrm
  src/documents/presentation/components/NewDocumentForm/NewDocumentForm.ts
  src/shared/presentation/components/Loading/Loading.ts
Due: prettier --write, eslint --max-warnings=0

docs: add root README.md
  .gitignore
  README.md
  webapp/README.md
  webapp/playwright-report/index.html
  webapp/test-results/.last-run.json
Due: prettier --write

fix(html): add robots meta tag to prevent indexing
  webapp/index.html
Due: none

docs: add document with User Stories and Acceptance Criteria
  README.md
  USER-STORIES.md
  webapp/README.md
Due: prettier --write

docs: update README.md
  webapp/README.md
  webapp/package-lock.json
  webapp/package.json
  webapp/playwright.config.ts
Due: prettier --write, eslint --max-warnings=0

feat(documents): add validation for version pattern
  webapp/src/documents/presentation/components/NewDocumentForm/NewDocumentForm.ts
Due: prettier --write, eslint --max-warnings=0
